name: Release

on:
  push:
    tags:
      - "v*.*.*"
      - "v*"

jobs:
  build-zip:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Create zip
        run: |
          repo_name=$(basename "$GITHUB_REPOSITORY")
          zip -r "${repo_name}.zip" . -x "*.git*" -x "node_modules/*" -x ".DS_Store"
      - name: Upload to GitHub Release
        uses: softprops/action-gh-release@v2
        with:
          files: |
            *.zip
